# Digiflazz Credentials
DF_USERNAME=username_kamu
DF_API_KEY=api_key_production_kamu
DF_WEBHOOK_SECRET=webhook_secret_kamu

# Server
PORT=3000

# Transaction
RETRY_DELAY_MS=2000
MAX_RETRY=10

# Cache TTL price list (menit)
CACHE_TTL_MIN=10